VITE_API_URL=https://forsomereason.dev/api/v1
VITE_GITHUB_CLIENT_ID=SuperSecretClientID12345

VITE_SUPABASE_URL=https://mamahakumaurtx5090ti.supabase.co
VITE_SUPABASE_ANON_KEY=anonkeykekgimanasihbang
SUPABASE_SERVICE_ROLE_KEY=service.role.keyisahsecret
